section {width: 600px;}
section.section1 {text-align: left; position: absolute; top: 150px; left: 20px; background-color: lightblue; visibility: hidden;}
section.section2 {text-align: left; position: absolute; top: 150px; left: 20px; background-color: lightgreen; visibility: hidden;}
#koalapicture {padding: 5pt; float: left; height: 25%; width: 25%;}
#penguinspicture {padding: 5pt; float: left; height: 25%; width: 25%;}
h1{font-family: sans-serif; text-align: center;}
h2{font-family: sans-serif; text-align: center;}
footer {position: absolute; top: 500px; left: 20px; width: 600px; font-style: italic; text-align: center; color: #F5F5DC; background-color: #191970;}
